<!DOCTYPE html>
<!-- I have shamelessly copied this from jmcglone at http://jmcglone.com/guides/github-pages/ -->
<html>
	<head>
		<title> {{ page.title }} </title>
		<!-- Comments in html are kind of ugly -->
		<!-- Link to main css style sheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>          <!-- what is this? -->
	        	<li><a href="/about">About</a></li>
        		<!-- <li><a href="/cv">CV</a></li>     Not yet, TO DO how do I host a downloadable file? -->
        		<li><a href="/_posts">Blog</a></li>
    		</ul>
		</nav>
		
		<!-- CONTAINER FOR THE CONTENT -->
		<div class="container">
			
		{{ content }}
			
		</div> <!-- /.container -->

		<footer>
    		<ul>
        		<li><a href="mailto:manuel.jimenez@fisfun.uned.com">email</a></li>
        		<li><a href="https://github.com/manu-jimenez/wang-landau">github.com/manu-jimenez/wang-landau</a></li>
			</ul>
		</footer>
	</body>
</html>
